$btn-color : #CC4C6E;
*{
    box-sizing: border-box;
}
.order__title {
    font-size: 48px;
}

.order__items {
    margin-bottom: 50px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid gray;
    height: auto;
    margin-bottom: 10px;
    .id{
        display: none;
    }
    .item__leftPart {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 30px;

        .item__image {
            max-width: 250px;
            margin: 0 auto;
            img {
                width: 100%;
            }
            @media(min-width:992px){
                margin: 0;
            }
        }

        .item__textInfo {
            margin-left: 20px;

            .item__description {
                margin-bottom: 10px;
                font-size: 16px;
            }

            .item__name {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 15px;
            }
        }
        @media(min-width:992px){
            margin-bottom: 0;
        }
    }

    .item__totalCost {
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;

        .item__amount {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            align-items: center;

            .item__minus,
            .item__plus {
                font-weight: bold;
                color: black;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #F6F6F6;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            .item__deleteBtn {
                font-size: 24px;
                font-weight: bold;
                cursor: pointer;
                margin-left: 10px;
            }
        }

        .item__price {
            .item__oldPrice {
                font-size: 18px;
                margin-bottom: 10px;
                color: gray;
                text-decoration: line-through;
            }

            .item__currentPrice {
                font-size: 24px;
                color: black;
            }
        }

        @media(min-width:992px){
            flex-direction: column;
            width: auto;
            justify-content: space-around;
        }

    }

    @media(min-width: 768px) {}

    @media(min-width: 992px) {
        min-height: 250px;
        height: 1px;
        flex-direction: row;
    }
}

.order__form {
    margin: 0 auto;
    width: 100%;
    min-height: 200px;
    background-color: #4d4948;
    padding: 30px;
    border-radius: 10px;

    .form__title {
        font-size: 32px;
        color: white;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .form__phone {
        width: 100%;
        padding: 10px;
        color: white;
        background-color: transparent;
        border: 1px solid rgba($color: #FFFFFF, $alpha: 0.2);
        border-radius: 10px;
        margin-bottom: 10px;

        @media(min-width:992px){
            width: 50%;
        }
    }

    label {
        display: block;
        color: white;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .form__button {
        background-color: rgb(206, 4, 88);
        padding: 10px;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
    @media(min-width:768px){
        width: 50%;
    }
}